.iconbox-compact {
    text-align: center;
    padding: 32px;

    &:hover {
        background-color: $brand-first;
        color: #fff;

        a {
            color: #fff;

            &:hover,
            &:focus {
                opacity: 0.8;
            }
        }
    }
}
