.iconbox{
	.fa{
		color: $brand-third;
	}
}

.icon-left{
	.iconbox{
		.iconbox-icon{
			float: left;
			width: 60px;
		}

		.detail{
			padding-left: 60px;
		}
	}
}

.icon-right{
	.iconbox{
		.iconbox-icon{
			float: right;
			width: 60px;
			text-align: right;
		}

		.iconbox-detail{
			padding-right: 60px;
			text-align: justify;
		}
	}
}

.fbsn-left{
	height: 90px;
	background: #FFF;

	> *{
		color: $brand-first;
		font-size: 18px;
		line-height: 1;
		display: inline-block;
		padding-left: 20px;

		&:first-child{
			padding-left: 0;
			padding-right: 30px;
		}

		.fa{
			font-size: 36px;
		}
	}
}

.fbsn-right{
	height: 90px;
	text-align: center;
	background: $brand-first;
	background: linear-gradient(45deg, #ff0000, #ff0052);
	cursor: pointer;

	&:hover, &:focus{
		background: #000000;
	}

	.heading{
		font-size: 18px;
		color: #FFF;
		text-transform: uppercase;
	}
}

@import "iconbox-big-rows";
@import "iconbox-compact-grid";
@import "iconbox-image-left";
@import "iconbox-image-right";
@import "iconbox-introduction";
@import "iconbox-standard";
@import "iconbox-statistics";
@import "iconbox-three-cols";
@import "iconbox-three-tiles";
@import "iconbox-three-cols-icon-left";
@import "iconbox-tiles";
@import "iconbox-two-columns-grid";
@import "iconbox-squares";
@import "iconbox-default";
