.navbar-radius {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);

    & + .fake-navbar {
        height: 72px;
        display: block;
    }
	
	.navbar-nav{
		.nav-link{
			line-height: 1;
			padding-top: .75rem;
			padding-bottom: .585rem;
		}
	}
	
	.social-icons{
		margin-left: 15px;
	}

    @include media-breakpoint-up(lg) {
        padding-top: $spacer-y * 1.5;
        padding-bottom: $spacer-y * 1.5;

        .navbar-nav{
			.active > a {
				border: 2px solid $brand-third;
				border-radius: 1000px;
				padding-left: $spacer-x;
				padding-right: $spacer-x;
			}
		}

        &.scrolled {
			padding-top: $spacer-y / 2;
			padding-bottom: $spacer-y / 2;

            .navbar-brand img {
                max-height: 35px;
            }

            .navbar-nav {
                margin-top: 8px;

                > li > a {
                    border: 0;
                    padding: 0;
                }
            }

            .navbar-nav{
				.nav-link{
					padding-top: 0.35rem;
				}
				
				> .active > a {
					color: $brand-third;
					border-radius: 0;
					border: none;
				}
			}
		}

		& + .fake-navbar {
			height: 102px;
		}
    }
}
